<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <%= image_tag attachment_url(current_user, :profile_image, :fill, 45, 45) %>
    </div>
    <div class="pull-left info">
      <p>Hello, <%= current_user.name %></p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <%= nav_link edit_user_registration_path do %>
      <i class="fa fa-dashboard"></i><span>Dashboard</span>
    <% end %>
    <% if current_user.roles %>
      <%= nav_link users_path do %>
        <i class="fa fa-users"></i><span>User listing</span>
      <% end %>
    <% end %>
    <% if policy(Publisher.all).index? %>
      <%= nav_link publishers_path do %>
        <i class="glyphicon glyphicon-briefcase"></i><span>Publisher listing</span>
      <% end %>
    <% end %>
    <% if policy(Content.all).index? %>
      <%= nav_link contents_path do %>
        <i class="fa fa-book"></i><span>Content Listing</span>
      <% end %>
    <% end %>
    <%= treeview_link 'Lots of links here' do %>
      <%= nav_link "#" do %>
        <i class="fa fa-angle-double-right"></i>
        One Way
      <% end %>
      <%= nav_link "#" do %>
        <i class="fa fa-angle-double-right"></i>
        Another
      <% end %>
    <% end %>
  </ul>
</section>