<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <%= image_tag attachment_url(current_user, :profile_image, :fill, 45, 45), class: "img-circle" %>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold"><%= current_user.name %></strong>
              </span> <span class="text-muted text-xs block"> <%= current_user.role == "admin" ? "Admin User" : current_user.role == "moderator" ? "Moderator User" : "Standard" %> <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <%= link_to "Profile", edit_user_registration_path %>
            </li>
            <li>
              <a href="">Contacts</a>
            </li>
            <li>
              <a href="">Mailbox</a>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          INCA
        </div>
      </li>
      <li>
        <%= nav_link edit_user_registration_path do %>
          <i class="fa fa-dashboard"></i><span class="nav-label">Dashboards</span><span class="fa arrow"></span>
        <% end %>
        <ul class="nav nav-second-level collapse ">

        </ul>
      </li>
      <li>
        <% if policy(User.all).index? %>
          <%= nav_link users_path do %>
            <i class="fa fa-users"></i><span class="nav-label">Users</span>
          <% end %>
        <% end %>
      </li>
      <li>
        <% if policy(Publisher.all).index? %>
          <%= nav_link publishers_path do %>
            <i class="glyphicon glyphicon-briefcase"></i><span class="nav-label">Publishers</span><span class="fa arrow"></span>
          <% end %>
        <% end %>
        <ul class="nav nav-second-level collapse">

        </ul>
      </li>
      <li>
        <% if policy(Content.all).index? %>
          <%= nav_link contents_path do %>
            <i class="fa fa-book"></i><span class="nav-label">Content</span>
          <% end %>
        <% end %>
        <ul class="nav nav-second-level collapse">

        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-sitemap"></i><span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="#">Third Level<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
              <li>
                <a href="#">Third Level Item</a>
              </li>
              <li>
                <a href="#">Third Level Item</a>
              </li>
              <li>
                <a href="#">Third Level Item</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Second Level Item</a></li>
          <li>
            <a href="#">Second Level Item</a></li>
          <li>
          <a href="#">Second Level Item</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
