<section class="content-header">
  <h1> Publisher: <small><%= @publisher.name %></small></h1>

  <ol class="breadcrumb">
    <li>
        <%= link_to authenticated_root_path do %>
          <i class="fa fa-dashboard"></i>
        <% end %>
    </li>
    <li><%= link_to "publishers", publishers_path %></li>
    <li class="active"><%= @publisher.name %></li>
  </ol>
</section>

<%= render "form" %>