<div class="container" style="margin-top:40px">
    <div class="panel-heading">
      <p><b><%= t "devise.invitations.new.header" %></b></p>
    </div>
    <div class="panel-body">
      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <div class="row">
            <div class="col-sm-12 col-md-9  col-md-offset-1 ">
              <% resource.class.invite_key_fields.each do |field| -%>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope"></i>
                    </span> 
                    <%= f.text_field field, autofocus: true, placeholder: "Enter the email address of the invitee", class: "form-control" %>
                  </div>
                </div>
              <% end -%>
              <div class="form-group">
                <%= f.button "Send", class: "btn btn-md btn-primary", data: { disable_with: "<i class='fa fa-spinner'></i>Sending......" } %>
              </div>
              <%#= render "devise/shared/links" %>
              <%= link_to "back", :back %>
            </div>
          </div>
        </fieldset>  
      <% end %>     
    </div>
</div>

