<!DOCTYPE html>
<html>
<head>
  <%= render "partials/head" %>
</head>
<body >
  <!-- Skin configuration box -->
  <%= render 'partials/skinconfig' %>

    <!-- Wrapper-->
    <div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

        <!-- Navigation -->
        <%= render 'partials/navigation' %>

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

            <!-- Page wrapper -->
            <%= render 'partials/topnavbar' %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            <%= render 'partials/footer' %>

        </div>
        <!-- End page wrapper-->

        <!-- Right sidebar -->
        <%= render 'partials/rightsidebar' %>

    </div>
    <!-- End wrapper-->
</body>
</html>
