<!DOCTYPE html>
<html>
<head>
  <%= render "partials/head" %>
</head>
<body class="skin-blue" >
  <%= render "partials/application_header" %>
  <div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
      <%= render "partials/application_sidebar" %>
    </aside>
    <aside class="right-side">
      <%= yield(:content_header) %>
      <%= render 'partials/flash' %>
      <%= yield %>
      <%= render "partials/application_footer" %>
    </aside>
  </div>
</body>
</html>
